.col-1, .col-2, .col-3, .col-4, .col-6, .col-8, .col-10  {
    /* text-align: center; */
    border: 1px solid white;
}

body {
    background-color: black;
    color: rgb(200,200,200);
}

#maxSco {
    width: 3rem;
}


.chbxRounds {
    height: 25px;
    width: 25px;
}


/* 
#scoDisplayContainer {
    height: 50px;
}
*/


#scoDisplay {
    font-size: 3rem;
} 

#forButtons {
    text-align: center;
}
#buttonTest {
    position: relative;


}




